<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Directory\Model\ResourceModel\Region\Collection">
        <plugin
                name="alsurmedia_limitregions_magento_directory_model_resourcemodel_region_collection"
                type="Alsurmedia\LimitRegions\Plugin\Region\Collection"
        />
    </type>
</config>
